@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GTPressuraMonoLight';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('/assets/fonts/GTPressuraMono-Light.woff2') format('woff2'),
  url('/assets/fonts/GTPressuraMono-Light.woff') format('woff');
}

@font-face {
  font-family: 'GTPressuraMono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('/assets/fonts/GTPressuraMono.woff2') format('woff2'),
  url('/assets/fonts/GTPressuraMono.woff') format('woff');
}

@font-face {
  font-family: 'GTPressuraMono';
  font-style: oblique;
  font-weight: 400;
  src: local(''),
  url('/assets/fonts/GTPressuraMono-Bold.woff') format('woff'),
}

@font-face {
  font-family: 'GTPressura';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('/assets/fonts/GTPressuraStandard.woff2') format('woff2'),
}

@font-face {
  font-family: 'GTPressuraLight';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('/assets/fonts/GTPressuraStandard-Light.woff2') format('woff2'),
}

@font-face {
  font-family: 'GTPressuraMedium';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('/assets/fonts/GTPressuraStandard-Medium.woff2') format('woff2'),
}

@font-face {
  font-family: 'Plaak';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('/assets/fonts/Plaak-SemicondensedRegular.woff2') format('woff2'),
  url('/assets/fonts/Plaak-SemicondensedRegular.woff') format('woff');
}

@font-face {
  font-family: 'PlaakCondensed';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('/assets/fonts/Plaak-CondensedBold.woff2') format('woff2'),
  url('/assets/fonts/Plaak-CondensedBold.woff') format('woff');
}

@font-face {
  font-family: 'Consolas';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('/assets/fonts/Consolas.woff') format('woff');
}


@layer base {
  body {
    @apply font-[Plaak];
  }
  li {
    @apply px-4;
    @apply cursor-pointer
  }
}
.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}
.content-div:hover {
  background-image: linear-gradient(
          to right,
          rgba(11, 80, 54, 0.8),
          hsla(91, 18%, 45%, 0.8)
  )!important;
}